<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ConfNG Test Suite">
    <test name="ConfNG Test">
        <classes>
            <class name="org.confng.ConfNGTest"/>
            <class name="org.confng.sources.ConfigSourceTest"/>
            <class name="org.confng.sources.SecretManagerSourceTest"/>
        </classes>
    </test>
</suite>
